@import "variablesSass.scss";

.header{    
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagen texto";
        
        .imagen {
            grid-area: imagen;
            display: flex;
            justify-content: end;
            svg {
                max-width: 35rem;
            }
            text-align: end;
        }
        .texto {
            grid-area: texto;
            text-align: left;
            padding: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "h1"
            "p";
    
            h1 {
                display: flex;
                font-family: $tTitulares;
                font-size: 5rem;
                line-height: 5.5rem;
                align-items: flex-end;

            }
            p {
                font-family: $tMaquina;
                margin-top: 2rem;
                color: $orange;
                max-width: 35rem;
            }
        }
}

