@import '../../sass/variablesSass.scss';

.comentario__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin: .5rem 0;
}

.info__usuario {
    font-family: $tSubtitulo;
    color: $orange;
    font-weight: 900;
}

.info__texto-comentario {
    font-family: $tSubtitulo;
    overflow-wrap: break-word;
}

.info__fecha-comentario {
    font-family: $tMaquina;
    color: $comment;
    
}