@import '../../sass/variablesSass.scss';

.form-comentario__title{
  text-align: center;
}

.form-comentario__text-area{
  width: 100%;
  height: 20vh;
  margin: 1rem 0;
  padding: .3rem;
  color: $comment;
}

.form-comentario__btn{
  border-radius: .5rem;
  background-color: $purple;
  height: 2rem;
  width: 100%;
}