@import "../../../sass/variablesSass.scss";

a {
  cursor: pointer;
}

.header-login-container {
  .icon {
    width: 50px;
    height: 50px;
  }

  h3 {
    font-family: $tMaquina;
  }

  display: flex;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.login-form-container {
  label {
    font-family: $tSubtitulo;
    font-weight: bold !important;
    margin: 5px 0;
  }

  input {
    padding: 10px 0;
    color: #181921;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .remember-container {
    display: block;
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}

.welcome-message {
  h3 {
    font-family: $tSubtitulo;
    margin-bottom: 20px;
  }
}

.login-submit-button,
.logout-submit-button {
  border-radius: 5px;
  padding: 10px 40px !important;
  color: #fff !important;
  font-weight: bold;
  background-color: #7066e0;
  &:hover {
    background-color: #ffb86c;
    color: #181921;
    transition: all 0.3s;
  }
}

.swal2-close {
  &:hover {
    color: #ffb86c !important;
  }
}

.form-custom-error {
  background-color: #ff5555;
}

.recover-link-container {
  margin-top: 30px;
  a {
    font-family: $tMaquina;
    &:hover {
      color: #ffb86c;
    }
  }
}

.register-link-container,
.goback-link-container {
  margin-top: 10px;
  margin-bottom: 30px;
  a {
    font-family: $tMaquina;
    &:hover {
      color: #ffb86c;
    }
  }
}

.recover-submit-button {
  margin: 10px;
  border-radius: 5px;
  padding: 10px 40px !important;
  color: #fff !important;
  font-weight: bold;
  background-color: #7066e0;
  cursor: pointer;
  &:hover {
    background-color: #ffb86c;
    color: #181921;
    transition: all 0.3s;
  }
}
