@import '../sass/variablesSass.scss';

.profile-content {
    display: grid;
    justify-content: center;
    grid-template-areas:
        'title title'
        'user-menu data-content';
    h4 {
        font-family: $tSubtitulo;
    }
    label {
        font-family: $tSubtitulo;
        font-weight: 800;
        color: $comment;
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }
    input {
        border-radius: 3px;
        background-color: $current_line;
        padding: 0.2rem;
        text-align: center;
        &:disabled {
            background-color: transparent;
        }
    }
    .profile-title {
        grid-area: title;
        font-family: $tMaquina;
        color: $orange;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .profile-menu {
        grid-area: user-menu;
        padding-top: 3rem;
        padding-right: 2rem;
    }
    .my-profile {
        grid-area: data-content;
        margin-top: 2rem;
        display: grid;
        justify-content: center;
        grid-template-areas:
            'avatar'
            'nick'
            'email'
            'nombre'
            'apellidos'
            'password'
            'boton-pass'
            'botones-edit'
            'boton-delete';
        .profile-avatar {
            justify-self: center;
            margin-bottom: 0.5rem;
            grid-area: avatar;
            display: grid;
            .avatar {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 0.5rem;
            }
            .profile-sendfile {
                position: relative;
                display: inline-block;
                width: 8rem;
                justify-self: center;
                margin-bottom: 0.9rem;
                &:before {
                    background-color: $cyan;
                    color: $background;
                    font-family: $tSubtitulo;
                    font-weight: 800;
                    font-size: 0.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    content: 'Cambiar Avatar';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
                input {
                    opacity: 0;
                    width: 8rem;
                    display: inline-block;
                }
            }
        }
        .profile-nick {
            grid-area: nick;
            justify-self: center;
            width: 80%;
            justify-content: center;
            display: grid;
            margin-bottom: 0.5rem;
            label {
                justify-self: center;
            }
        }
        .profile-email {
            grid-area: email;
            justify-self: center;
            width: 80%;
            justify-content: center;
            display: grid;
            margin-bottom: 0.5rem;
            label {
                justify-self: center;
            }
        }
        .profile-name {
            grid-area: nombre;
            justify-self: center;
            width: 80%;
            justify-content: center;
            display: grid;
            margin-bottom: 0.5rem;
            label {
                justify-self: center;
            }
        }
        .profile-lastname {
            grid-area: apellidos;
            justify-self: center;
            width: 80%;
            justify-content: center;
            display: grid;
            margin-bottom: 0.9rem;
            label {
                justify-self: center;
            }
        }
        .profile-password {
            grid-area: password;
            justify-self: center;
            width: 80%;
            justify-content: center;
            display: grid;
            margin-bottom: 0.9rem;
            label {
                justify-self: center;
                margin-top: 0.2rem;
            }
        }
        .profile-changepass {
            grid-area: boton-pass;
            justify-self: center;
            margin-bottom: 0.6rem;
            .pass-button {
                cursor: pointer;
                color: $orange;
                font-family: $tSubtitulo;
                font-weight: 600;
                background-color: transparent;
                border: 1px solid $orange;
                font-size: 0.7rem;
                padding: 0.4rem;
                border-radius: 3px;
                margin-right: 0.1rem;
                &:hover {
                    color: $background;
                    background-color: $orangeBrillo;
                }
            }
        }
        .profile-save {
            grid-area: botones-edit;
            justify-self: center;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            .edit-button {
                cursor: pointer;
                font-family: $tSubtitulo;
                font-weight: 600;
                color: $background;
                background-color: $purple;
                padding: 0.5rem;
                border-radius: 3px;
                margin-right: 0.1rem;
                &:hover {
                    background-color: $purpleBrillo;
                }
            }
            .save-button {
                cursor: pointer;
                font-family: $tSubtitulo;
                font-weight: 600;
                color: $background;
                background-color: $green;
                padding: 0.5rem;
                border-radius: 3px;
                margin-left: 0.1rem;
                &:hover {
                    background-color: $greenBrillo;
                }
            }
        }
        .profile-delete {
            grid-area: boton-delete;
            justify-self: center;
            margin-bottom: 0.6rem;
            .delete-button {
                cursor: pointer;
                width: 9rem;
                font-family: $tSubtitulo;
                font-weight: 600;
                color: $background;
                background-color: $red;
                padding: 0.5rem;
                border-radius: 3px;
                margin-right: 0.1rem;
                &:hover {
                    background-color: $redBrillo;
                }
            }
        }
    }
    .my-articles {
        grid-area: data-content;
        margin-top: 2rem;
        .card {
            margin-bottom: 2rem;
        }
    }
    .my-favourites {
        grid-area: data-content;
        margin-top: 2rem;
        .card {
            margin-bottom: 2rem;
        }
    }
    .my-followers {
        grid-area: data-content;
        margin-top: 2rem;
        .userInfo__container {
            flex-direction: column;
            display: grid;
            justify-items: center;
            margin-bottom: 3rem;
            .userInfo__btn-follow {
                margin-left: 0;
            }
        }
    }
    .my-followings {
        grid-area: data-content;
        margin-top: 2rem;
        .userInfo__container {
            flex-direction: column;
            display: grid;
            justify-items: center;
            margin-bottom: 3rem;
            .userInfo__btn-follow {
                margin-left: 0;
            }
        }
    }
    .error-msg {
        color: $red;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 3px;
        margin-top: 0.2rem;
        margin-bottom: 0;
    }
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
    .profile-content {
        grid-template-areas:
            'title title title'
            'user-menu data-content data-content';
        .my-profile {
            grid-area: data-content;
            grid-template-areas:
                'avatar nick'
                'avatar email'
                'avatar nombre'
                'avatar apellidos'
                'avatar password'
                'avatar boton-pass'
                'botones-edit botones-edit'
                'boton-delete boton-delete';
            width: 50vw;
            justify-content: space-evenly;
            .profile-avatar {
                align-self: baseline;
                justify-content: center;
            }
            .profile-save {
                .edit-button {
                    width: 6rem;
                    margin-right: 0.8rem;
                }
            }
        }
        .my-articles {
            grid-area: data-content;
            display: grid;
            grid-template-columns: 47% 47%;
            justify-content: space-between;
            h4 {
                grid-column: 1/3;
                text-align: center;
            }
        }
        .my-favourites {
            grid-area: data-content;
            display: grid;
            grid-template-columns: 47% 47%;
            justify-content: space-between;
            h4 {
                grid-column: 1/3;
                text-align: center;
            }
        }
        .my-followers {
            grid-area: data-content;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 3rem;
            .userInfo__container {
                flex-direction: column;
                .userInfo__btn-follow {
                    margin-left: 0;
                }
            }
            h4 {
                grid-column: 1/3;
                text-align: center;
            }
        }
        .my-followings {
            grid-area: data-content;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 3rem;
            .userInfo__container {
                flex-direction: column;
                .userInfo__btn-follow {
                    margin-left: 0;
                }
            }
            h4 {
                grid-column: 1/3;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .profile-content {
        grid-template-areas:
            'title title title title'
            'user-menu data-content data-content data-content';
        .my-profile {
            grid-area: data-content;
            grid-template-areas:
                'avatar avatar nick'
                'avatar avatar email'
                'avatar avatar nombre'
                'avatar avatar apellidos'
                'avatar avatar password'
                'avatar avatar boton-pass'
                'botones-edit botones-edit botones-edit'
                'boton-delete boton-delete boton-delete';
        }
        .my-articles {
            grid-area: data-content;
            grid-template-columns: 31% 31% 31%;
            justify-content: space-between;
            h4 {
                grid-column: 1/4;
            }
        }
        .my-favourites {
            grid-area: data-content;
            grid-template-columns: 31% 31% 31%;
            justify-content: space-between;
            h4 {
                grid-column: 1/4;
            }
        }
        .my-followers {
            grid-area: data-content;
            grid-template-columns: 33% 33% 33%;
            h4 {
                grid-column: 1/4;
            }
        }
        .my-followings {
            grid-area: data-content;
            grid-template-columns: 33% 33% 33%;
            h4 {
                grid-column: 1/4;
            }
        }
    }
}
