@import '../sass//variablesSass.scss';

.btn-search {
    height: 2.5rem;
    position: absolute;
    right: 1.13rem;
    color: rgb(12, 1, 1);
    font-size: 2.8em;
    cursor: pointer;
    background-color: #6272a4;
    margin-bottom: 0.625rem;
    margin-top: 0.25rem;
    border-radius: 1.5rem;
    width: 2.5rem;
}

.search-bar-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: stretch;
    align-items: flex-end;
}
.searchBox {
    position: relative;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-top: 4.3rem;
    margin-bottom: 0.53rem;
    margin-left: 2.5rem;
    width: 85%;
    background: $comment;
    border-radius: 1.875rem;
    color: white;
    @media (min-width: 368px) {
        left: 1rem;
    }
}

.searchBox input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 25px;
    font-size: 1.1em;
    border-radius: 30px;
    font-family: $tMaquina;
}

.searchBox input::placeholder,
.searchBox input {
    background-color: $comment;
    color: white;
    width: 100%;
}

.not-found {
    display: flex;
    height: 70px;
    padding: 20px;
    font-family: $tContenido;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
    grid-column: 1/3;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .error-text {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 8px;
        color: white;
        font-family: $tContenido;
    }

    .search-text {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 8px;
        color: $orange;
        font-weight: bold;
        font-family: $tMaquina;
    }

    .search-off {
        font-size: 70px;
        text-align: center;
        fill: $orange;
    }
}
