@import '../../sass/variablesSass.scss';

.mymenu-profile {
    padding-top: 3rem;
    padding-right: 2rem;
    .mymenu-lista {
        .mymenu-item {
            cursor: pointer;
            margin-bottom: 1rem;
            &:active {
                color: $green;
            }
            &:hover {
                color: $green;
            }
        }
    }
}
