@import "../../sass/variablesSass.scss";

.articulo__imgPortada {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.articulo__titulo{
  font-family: $tTitulares;
  font-size: 32pt;
}

.articulo__textoIntroductorio{
  font-family: $tSubtitulo;
  font-size: 25pt;
}

.articulo__contenido{
  font-family: $tContenido;
  font-size: 14pt;
}

img{
  display: flex;
  object-fit: cover;
  width: 100%;

}

.articulo__container{
  display: flex;
  justify-content: center;
}

.artAncho{
  display: flex;
  max-width: 70%;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  justify-content: center;
}

.articulo__container-comentarios{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;

  h3 {
    font-family: $tMaquina;
    font-size: 18pt;
    color: $yellow;
  }

}

.comentario__contenedor{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comentario__texto-comentario-usuario{
  font-family: $tSubtitulo;
  color: $orange;
  font-weight: 900;
}

.comentario__texto-comentario-fecha{
  font-family: $tMaquina;
  color: $comment;
}

.comentario__texto-comentario-contenido{
  font-family: $tSubtitulo;
}

@media only screen and (max-width: 1200px) {
  .artAncho {
    max-width: 90%;
  }
}
