@import "../../sass/variablesSass.scss";

.seccionArticulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 1200px) {
    .seccionArticulos {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .seccionArticulos {
    grid-template-columns: 1fr;
    }
}


