@import "../../sass/variablesSass.scss";

.categorias {
  .ulCategorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    li {
      font-family: $tMaquina;
      font-size: large;
    }
  }

  .divCat {
    width: auto;
    justify-content: center;
  }

  @media only screen and (max-width: 1700px) {
    .ulCategorias {
      gap: 2rem;
    }
  }

  @media only screen and (max-width: 1400px) {
    .ulCategorias {
      gap: 1rem;
    }
  }

  @media only screen and (max-width: 1200px) {
    .ulCategorias {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.hr {
  border: solid;
  border-color: $comment transparent $comment transparent;
}

.rojo {
  cursor: pointer;
  color: $red;
  &:hover {
    text-shadow: 0 0 7px $redBrillo, 0 0 10px $redBrillo, 0 0 21px $redBrillo,
      0 0 42px $red, 0 0 82px $red, 0 0 92px $red, 0 0 102px $red,
      0 0 151px $red;
  }
}

.cyan {
  cursor: pointer;
  color: $cyan;
  &:hover {
    text-shadow: 0 0 7px $cyanBrillo, 0 0 10px $cyanBrillo, 0 0 21px $cyanBrillo,
      0 0 42px $cyan, 0 0 82px $cyan, 0 0 92px $cyan, 0 0 102px $cyan,
      0 0 151px $cyan;
  }
}

.pink {
  cursor: pointer;
  color: $pink;
  &:hover {
    text-shadow: 0 0 7px $pinkBrillo, 0 0 10px $pinkBrillo, 0 0 21px $pinkBrillo,
      0 0 42px $pink, 0 0 82px $pink, 0 0 92px $pink, 0 0 102px $pink,
      0 0 151px $pink;
  }
}

.orange {
  cursor: pointer;
  color: $orange;
  &:hover {
    text-shadow: 0 0 7px $orangeBrillo, 0 0 10px $orangeBrillo,
      0 0 21px $orangeBrillo, 0 0 42px $orange, 0 0 82px $orange,
      0 0 92px $orange, 0 0 102px $orange, 0 0 151px $orange;
  }
}

.purple {
  cursor: pointer;
  color: $purple;
  &:hover {
    text-shadow: 0 0 7px $purpleBrillo, 0 0 10px $purpleBrillo,
      0 0 21px $purpleBrillo, 0 0 42px $purple, 0 0 82px $purple,
      0 0 92px $purple, 0 0 102px $purple, 0 0 151px $purple;
  }
}

.green {
  cursor: pointer;
  color: $green;
  &:hover {
    text-shadow: 0 0 7px $greenBrillo, 0 0 10px $greenBrillo,
      0 0 21px $greenBrillo, 0 0 42px $green, 0 0 82px $green, 0 0 92px $green,
      0 0 102px $green, 0 0 151px $green;
  }
}
