@import "../../sass/variablesSass.scss";

.card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: auto;
    gap: 10px;

    .imgportada>img {
        object-fit: cover;
        width: 400px;
        height: 200px;
    }
    
    .textoIntroductorio {
        font-family: $tSubtitulo;
        line-height : 125%;
    }
    

    

}

@media only screen and (max-width: 650px) {
    .card{
        max-width: 300px;
    }
    .imgportada>img {
        max-width: 300px;
    }
}