@import '../../sass/variablesSass.scss';

.swal2-popup.swal2-modal.swal2-show {
    background-color: rgba(40, 42, 54, 0.8);
}

.swal2-html-container {
    color: #fff;
}

.swal2-styled.swal2-confirm {
    background-color: $red;
    border-color: $redBrillo;
    &:focus {
        box-shadow: 0 0 0 3px $red;
    }
    &:hover {
        background-color: $redBrillo;
    }
}
