@import '../../sass/variablesSass.scss';

.swal2-popup.swal2-modal.swal2-show {
    background-color: rgba(40, 42, 54, 0.8);
}

.swal2-html-container {
    color: #fff;
}

.swal2-styled.swal2-confirm {
    background-color: $red;
    border-color: $redBrillo;
    font-family: $tSubtitulo;
    font-weight: 600;
    &:focus {
        box-shadow: 0 0 0 0 transparent;
    }
    &:hover {
        background-color: $redBrillo;
    }
}

.swal2-styled.swal2-cancel {
    font-family: $tSubtitulo;
    font-weight: 600;
    &:focus {
        box-shadow: 0 0 0 0 transparent;
    }
}

.delete-msg {
    font-family: $tSubtitulo;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 1rem;
}
