@import "../../sass/variablesSass.scss";

.info{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

ul.info{
    justify-content: end;
}

.uinfo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.iconosInfo{
    max-width: 150px;
    width: 100%;
}
.usuario {
    color: $orange;
    font-family: $tSubtitulo;
    font-weight: 1000;
}

.fecha{
    color: $comment;
    font-family: $tMaquina;
    font-weight: bold;
}

.listaIconos {
    display: flex;
    gap: 5px;
}

.iconos {
    font-size: 1rem;
}

.avatar>img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.corazon {
    fill: $red
}

.enviar {
    fill: $cyan
}

.comentarios{
    fill:$green
}

.contestar{
    fill:$orange
}

.padre{
    padding-top: 1rem;
}