@import "../../sass/variablesSass.scss";

.pagination-box {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 2rem;
    width: auto;
    justify-content: center;
    align-items: center;
    li {
      cursor: pointer;
      font-family: $tMaquina;
      align-items: center;
      display: flex;
      gap: 2rem;
      // margin-right: 2rem;
      .icon-pag {
        fill: $pink;
        font-size: 1.5rem;
      }
      .paginacionPalabra {
        color: $comment;
      }
      .order-select {
        color: $green;
        border-color: $pink;
        background-color: transparent;
        height: 1.5rem;
        font-weight: bold;
        option {
          background-color: $background;
          color: $purple;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .paginacionPalabra {
    display: none;
  }
}
