@import '../../sass/variablesSass.scss';

.pagination-box {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 2rem;
    width: auto;
    justify-content: center;
    align-items: center;
    li {
      cursor: pointer;
      font-family: $tMaquina;
      align-items: center;
      display: flex;
      gap: 2rem;
      // margin-right: 2rem;
      .icon-pag {
        fill: $pink;
        font-size: 1.5rem;
      }
      .paginacionPalabra {
        color: #fff;
      }
      &:hover {
        text-shadow: 0 0 7px #947af9, 0 0 10px #947af9, 0 0 21px #947af9,
          0 0 42px #bd93f9, 0 0 82px #bd93f9, 0 0 92px #bd93f9,
          0 0 102px #bd93f9, 0 0 151px #bd93f9;
      }
      .order-select {
        color: $green;
        border-color: $pink;
        background-color: transparent;
        height: 1.5rem;
        font-weight: bold;
        option {
          background-color: $background;
          color: $purple;
          font-weight: bold;
        }
        &:hover {
          text-shadow: 0 0 7px #50fa34, 0 0 10px #50fa34, 0 0 21px #50fa34,
            0 0 42px #50fa7b, 0 0 82px #50fa7b, 0 0 92px #50fa7b,
            0 0 102px #50fa7b, 0 0 151px #50fa7b;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .paginacionPalabra {
    display: none;
  }
}
