@import '../../sass/variablesSass.scss';

.menu-profile {
    padding-top: 3rem;
    padding-right: 2rem;
    .menu-lista {
        .menu-item {
            font-family: $tSubtitulo;
            font-weight: 800;
            color: $comment;
            cursor: pointer;
            margin-bottom: 1rem;
            &:active {
                color: $green;
            }
            &:hover {
                color: $green;
            }
        }
    }
}
