@import '../../sass/variablesSass.scss';

.create-post-container {
    .custom-title-form {
        color: #fff;
        font-family: $tSubtitulo;
        font-size: 20px;
    }
    .create-post-form-container {
        #archivoDestacado {
            position: relative;
            display: inline-block;
            width: 6rem;
            justify-self: center;
            margin-bottom: 0.9rem;
            &:before {
                background-color: #5678ef;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                content: 'Seleccionar foto de portada';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 15px;
            }
            input {
                opacity: 0;
                width: rem;
                display: inline-block;
            }
        }

        input,
        textarea,
        select {
            background: none;
            border-bottom: 1px solid #444759;
            color: #fff;
            font-family: $tSubtitulo;
            font-size: 20px;
            margin: 15px 0;
            width: 100%;
        }

        textarea {
            margin-bottom: 0 !important;
            padding: 0 !important;
            height: auto;
        }

        #archivoDestacado {
            width: auto;
        }

        #fechaPublicacion {
            width: auto;
            margin-top: 30px;
        }

        .publicar-button {
            background: $purple;
            padding: 10px 0;
            border-radius: 5px;
            &:hover {
                background: #444759;
                color: $purple;
                transform: scale(0.9);
                transition: all 0.3s;
            }
        }

        .ql-toolbar.ql-snow {
            border: 1px solid #bd93f9 !important;
        }

        .ql-container.ql-snow {
            border: 1px solid #bd93f9 !important;
        }

        .ql-snow .ql-picker-options {
            background-color: #f8b66d !important;
        }

        .ql-active {
            background-color: #f8b66d !important;
        }

        .ql-snow .ql-stroke {
            stroke: #979797 !important;
        }

        .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
        .ql-snow.ql-toolbar .ql-picker-item:hover {
            color: #282a36 !important;
        }

        .ql-snow.ql-toolbar .ql-picker-label:hover {
            color: #000000 !important;
        }

        .ql-snow.ql-toolbar button:hover .ql-stroke {
            stroke: #bd93f9 !important;
        }

        .ql-snow.ql-toolbar button:hover .ql-stroke {
            stroke: #bd93f9 !important;
        }

        .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
            border-color: #f8b66d !important;
        }

        .create-post-container .create-post-form-container .ql-toolbar.ql-snow {
            border: 1px solid #bd93f9 !important;
        }

        .categorias-container-main {
            margin: 30px 0;
            .categorias-title {
                color: #fff;
                font-family: $tSubtitulo;
                font-size: 20px;
            }
            .categorias-container {
                display: flex;
                flex-wrap: wrap;
                .single-categoria-container {
                    margin-top: 10px;
                    button {
                        padding: 2px 5px;
                        margin-right: 10px;
                        background-color: $purple;
                        color: #272a36;
                        border-radius: 5px;
                        &:hover {
                            background-color: #f8b66d;
                        }
                    }

                    .selected-button {
                        background-color: #50fa7b;
                        &:hover {
                            background-color: #fa1e1e;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .categorias-error {
            margin-top: -10px;
            margin-bottom: 25px;
        }
    }
}
